<!DOCTYPE html>
<html   lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/index-css.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <meta charset="UTF-8"/>

    <title>Cari Data - Sistem Kependudukan Provinsi DKI Jakarta</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">SI Kependudukan</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/penduduk/cari">Cari Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/penduduk/tambah">Tambah Penduduk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/keluarga/tambah">Tambah Keluarga</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="penduduk-add">
                    <form action="/penduduk/cari" method="get">
                        <h4 th:text="'Lihat Data Penduduk Berdasarkan Kota/Kabupaten'"></h4>
                        <label for="kota" th:text="'Kota/Kabupaten'">KOTA</label>
                        <select class="form-control" id="kota" name="kt">
                            <option th:value="''" th:text="'Pilih Kota/Kabupaten'"></option>
                            <div th:each="kota, iterationStatus: ${listKota}">
                                <option th:value="${kota.kode_kota}" th:text="${kota.nama_kota}"></option>
                            </div>
                        </select>
                        <br />

                        <button type="submit" class="btn btn-primary">Lihat</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>