<!DOCTYPE html>
<html   lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/index-css.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <meta charset="UTF-8"/>

    <title>Success</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">SI Kependudukan</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/penduduk/cari">Cari Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/penduduk/tambah">Tambah Penduduk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/keluarga/tambah">Tambah Keluarga</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div>
                <h2 th:text="'Sukses!'"></h2>
                <div th:switch="${model}">
                    <div th:case="'penduduk'">
                        <div th:switch="${perintah}">
                            <p th:case="'insert'" th:text="'Penduduk dengan NIK ' + ${nik} + ' berhasil ditambahkan'"></p>
                            <p th:case="'update'" th:text="'Penduduk dengan NIK ' + ${nik} + ' berhasil diubah'"></p>
                        </div>
                    </div>
                    <div th:case="'keluarga'">
                        <div th:switch="${perintah}">
                            <p th:case="'insert'" th:text="'Keluarga dengan NKK ' + ${nomor_kk} + ' berhasil ditambahkan'"></p>
                            <p th:case="'update'" th:text="'Keluarga dengan NKK ' + ${nomor_kk} + ' berhasil diubah'"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>